data/
__pycache__/
temp/
.ipynb_checkpoints/
demo-app/api/env/
demo-app/api/data/
demo-app/webapp/node_modules/
test.py




machine-learning/preprocessing/dataset
machine-learning/model/dataset
machine-learning/model/weights
